.btn-group {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border-bottom: 1px solid #ddd;

}

.btn-group a, button {
    font-family: Nanum Myeongjo, Tahoma, Geneva, Verdana, sans-serif;
    background: none;
    border: none;
    padding: 14px 20px;
    margin: 0;
    font-size: 18px;
    cursor: pointer;
    color: #000000;
    border-bottom: 3px solid transparent;
    transition: border-color 0.3s ease, color 0.3s ease;
}

.btn-group a:hover,
.btn-group button:hover,
#button-data.active,
#button-orders.active,
#button-dashboard.active {
    border-bottom: 3px solid #640000;
    color: #640000;
    font-weight: 600;
}